.orangeButton {
  background: #FB9D04;
  border: 0px;
  border-radius: 10px;
}

.primaryButton {
  background: #0057FF;
  border: 0px;
  border-radius: 10px;
}

.secondaryButton {
  background: #FCFCFC;
  border-radius: 10px;
  border: 1px solid #0057FF ;
}