.colorRed {
  color: #EB0000;
}

.colorDarkGold {
  color: #D08101;
}

.colorBlue {
  color: #0057FF;
}

.colorWhitish {
  color: #FCFCFC;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.colorLightGrey {
  color: #D7D7D7
}

.colorDarkGrey {
  color: #7D7D7D
}

.bgRed {
  background: #EB0000;
}

.bgBlue {
  background: #0057FF;
}

.bgTransparent {
  background: transparent;
}

.bgWhitish {
  background: #FCFCFC;
}

.fadeDownWhite {
  background-image: linear-gradient(transparent, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC );
}
