.codetext {
font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}


.textSize-12 {
  font-size: 0.8em;
}

.textSize-14 {
  font-size: 1em;
}

.textSize-16 {
  font-size: 1.2em;
}

.textSize-20 {
  font-size: 1.5em;
}

.textSize-30 {
  font-size: 2.2em;
}
