.portfolioFullPage {
  background: #13121C;
  color: #FCFCFC;
  margin: 0;
  padding: 0;
}

.heroSection {
  height: 100%;
}

.heroNameDesc {
  position: absolute;
  top: 30%;
  left: 5%;
}

.heroName {
  color: #FCFCFC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
}

.heroDesc {
  color: #FCFCFC;
  font-size: 1.5em;
}

.heroBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.sectionHeader {
  font-size: 3em;
  text-align: center;
}

.aboutMeSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.aboutMeText {
  width: 60%;
  text-align: center;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

.rightText {
  text-align: end;
}

.skillCenterSide {
  width: 10%;
}

.skillLeftSide, .skillRightSide {
  width: 45%;
}

.skillLeftSide img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}


.lighterBg {
  background: #1A1A26;
  color: #FCFCFC;
}